<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <div class="p-5 bg-body-tertiary border rounded-3 text-center mt-4">
      <h2 class="text-primary">{{title}}</h2>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <!-- Contenitore per inserire il testo -->
    <div class="col-md-4">
      <div class="p-3 bg-light border rounded-3 fixed-height">
        <h3>Inserisci Testo</h3>
        <textarea 
          [(ngModel)]="userText" 
          class="form-control" 
          rows="10" 
          placeholder="Bitte geben Sie die DocID und die Vertragsnummern ein...">
        </textarea>
        <div class="button-container">
          <button class="btn btn-primary mt-3" (click)="processText()">Generieren</button>
          <button class="btn btn-primary ms-2 mt-3" (click)="cleanText()">Clean</button>
        </div>
      </div>
    </div>

   <!-- Contenitore per la tabella dei dati -->
   <div class="col-md-4">
    <div class="p-3 bg-light border rounded-3 scrollable-content fixed-height">
      <h3>Tabella dei Dati</h3>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>VtNr</th>
            <th>DocId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData">
            <td>{{ item.vtNr }}</td>
            <td>{{ item.docId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Contenitore per il codice SQL -->
  <div class="col-md-4">
    <div class="p-3 bg-light border rounded-3 sql-code fixed-height">
      <h3>SQL-Code</h3>
      <pre>{{ SQLtext }}</pre>
      <div class="btn-container">
        <button class="btn btn-primary" (click)="copyText()">Copy</button>
      </div>
    </div>
  </div>
  